<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev/
 * https://github.com/robaimes
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_aimes_patches_index_index">
        <observer name="update_notification"
                  instance="Aimes\QualityPatchesUi\Observer\UpdateNotification"/>
    </event>
</config>
